
  .App {
    text-align: center;
    margin: auto;
    padding: 0;
    height: 300vh;
  
  }
  
  
  .landingSection{
    width: 100vw;
    height: 1000px;
    min-height: 800px;
    max-height: 1200px;
    max-width: 1820px; 
    position: relative;
    opacity: 0;
  }
  
  
  .landingSectionBg{
    background-color: #5142AE;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
  }
  
  .landingSectionImageBox{
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    max-width: 1820px;
  }
  
  .landingSectionImage{
    object-fit:cover ;
    object-position: center;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    transform: scale(1) ;
  }
  
   .blurred{
    width: 100%;
    height: 100%;
    background-color: #5142AE;
    mix-blend-mode: screen;
    opacity: .68;
    position: absolute;
    z-index: +999;
    font-size: 100px;
    right: 0;
  }
  
  .landingSectionText{
    position: absolute;
    color: white;
    top: 25%;
    right: 45%;
    width: auto;
    height: auto;
    text-align: right;
    font-family: 'Poppins';
    user-select: none;
  }
  
  .landingSectionText > :nth-child(1){
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
  }
  .landingSectionText > h1{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 64px;
    font-style: italic;
    line-height: 25px;
  }
  .landingSectionText > :nth-child(3){
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5vw;
    font-size: max(40px);
    font-style: italic;
    color:#FFD770 ;
    line-height: 35px;

  }
  .landingSectionText > :nth-child(4){
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
  }
  
  @keyframes chevron-animation{
    0%{
      transform: translateY(0);
    }
    
    100%{
      transform: translateY(20px) scale(1.2);
    }
  }
  
  @keyframes text-animation{
    0%{
    }
    
    100%{
      transform: scale(1.2);
    }
  }
  
  /*
  .chevron{
    animation-name: chevron-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 10px;
  }*/
  
  .landingSectionInviteToAction{
    position: absolute;
    color: white;
    left: calc(50% - 86px);
    bottom: 8%;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .landingSectionInviteToAction > div{
    animation-name: text-animation;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 10px;
  }


  @media all and (max-width:1400px){
    .landingSectionText > h1{
      font-size: 4vw;
    }
  }


  @media all and (max-width:1000px){
    
  }