
  .App {
    text-align: center;
    margin: auto;
    padding: 0;
    height: 300vh;
  
  }

  .landingSectionInviteToActionButton{
    display: none;
  }
  
  .landingSectionImageSmall{
    display: none;
  }
  .landingSection{
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;
    max-width: 1820px; 
    position: relative;
    opacity: 0;
    background-color: #5142AE;

  }
  
  
  
  
  .landingSectionImageBox{
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    max-width: 1820px;
  }
  
  .landingSectionImage{
    object-fit:cover ;
    object-position: center;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    transform: scale(1) ;
  }


  
  
   .blurred{
    width: 100%;
    height: 100%;
    background-color: #5142AE;
    mix-blend-mode: screen;
    opacity: .68;
    position: absolute;
    z-index: +999;
    font-size: 100px;
    right: 0;
  }
  
  .landingSectionText{
    position: absolute;
    color: white;
    top: 22%;
    right: 42%;
    width: auto;
    height: auto;
    text-align: right;
    font-family: 'Poppins';
    user-select: none;
  }
  
  .landingSectionText > :nth-child(1){
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
  }
  .landingSectionText > h1{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 64px;
    line-height: 10px;
  }
  .landingSectionText > :nth-child(3){
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5vw;
    font-size: max(40px);
    font-style: italic;
    color:#FFD770 ;
    line-height: 35px;

  }
  .landingSectionText > :nth-child(4){
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
  }
  
  @keyframes chevron-animation{
    0%{
      transform: translateY(0);
    }
    
    100%{
      transform: translateY(20px) scale(1.2);
    }
  }
  
  @keyframes text-animation{
    0%{
    }
    
    100%{
      transform: scale(1.2);
    }
  }
  
  
  .landingSectionInviteToAction{
    position: absolute;
    color: white;
    left: calc(50% - 86px);
    bottom: 8%;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .landingSectionInviteToAction > div{
    animation-name: text-animation;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 10px;
  }





  @media all and (max-width:1400px){
    .landingSectionText > h1{
      font-size: 4vw;
    }
  }

  @media all and (max-width: 1000px) {

    .landingSection{
      top: 0;
      display: flex;
      flex-flow: row;
      min-height: auto;
      height: 650px;
      overflow-x: hidden;
    }

    .landingSectionImage{
      object-position: 0 0;
    }


    .landingSectionImageBox{
      width:600px;
      height: 600px;
      position: absolute;
      bottom: 100px;
      right: -50px;
    }

    .landingSectionText{
      text-align: left;
      left: 40px;
      height: 500px;
      top: 100px;
      width: 500px;
    }

    .landingSectionText > :nth-child(4){
      font-weight: 500;
      font-size: 17px;
      line-height: normal;
      width: 100%;
    }

    .landingSectionText > h1{
      font-weight: bold;
      font-size: 28px;
      font-style: normal;
      line-height: 10px;
      margin-bottom: 30px;
      width: 100%;
    }

  }

  @media all and (max-width:786px){
    .landingSectionImageSmall{
      display: block;
      width: 100%;
    }
    .landingSectionImageBox{
      width:400px;
      height: 400px;
      position: absolute;
      bottom: 100px;
      right: -50px;
    }
  }

  @media all and (max-width: 550px){
    

    .landingSectionImage{
      display: none;
    }

    .landingSection{
      display: flex;
      flex-flow: column;
      height: auto;
      overflow-y: hidden;
    }

    .landingSectionImageBox{
      position: relative;
      width: 100%;    
      height: auto; 
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      justify-self: end;
    }
 

    .landingSectionText{
      width: calc(100% - 40px);
      position: relative;
      height: 450px;
      margin: 0 20px;
      top:0;
      left: 0;
    }

    .landingSectionImageSmall{
      height:350px;
      display: block;
      object-fit: cover;
      object-position: center;
    }


    .landingSectionInviteToAction{
      display: none;
    }

    .landingSectionInviteToActionButton{
      display: block;
      position: absolute;
      top: 350px;
      border: 4px solid #FFD770;
      padding: 10px 15px;
      color: #FFD770;
      text-transform: uppercase;
      font-weight: bold;
    }


   


    .landingSectionText > :nth-child(1){
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      line-height: normal;

      position: absolute;
      top: 10px;
      width: 100%;
    }
    .landingSectionText > h1{
      font-weight: bold;
      font-size: 24px;
      font-style: normal;
      line-height: 10px;
      margin-bottom: 30px;
      position: absolute;
      top: 45px;
      width: 100%;
    }
    .landingSectionText > :nth-child(3){
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      font-style: italic;
      color:#FFD770 ;
      line-height: 25px;
      position: absolute;
      top: 90px;
      width: 100%;
    }
    .landingSectionText > :nth-child(4){
      font-weight: 500;
      font-size: 17px;
      line-height: normal;
      position: absolute;
      top: 160px;
      width: 100%;
    }

  }


  @media screen and (max-width: 350px){

    .landingSectionText > :nth-child(1){
      font-size: 6vw;
    }
    .landingSectionText > h1{
      font-size: 6.5vw;
    }
    .landingSectionText > :nth-child(3){
      font-size: 6.5vw;
    }
    .landingSectionText > :nth-child(4){
      font-size: 4vw;
    }

  }